<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="lawnbots_unit">
        <file>tests/Fan/Lawnbots/Tests/unit/BotTest.php</file>
        <file>tests/Fan/Lawnbots/Tests/unit/LawnTest.php</file>
    </testsuite>
  </testsuites>

  <filter>
    <blacklist>
      <directory>vendor</directory>
    </blacklist>
  </filter>

  <logging>
    <log type="coverage-html" target="tests/log/codeCoverage" charset="UTF-8"
        yui="true" highlight="true"
        lowUpperBound="50" highLowerBound="80"/>
  </logging>
</phpunit>